:root{

    --brand-gradient:linear-gradient(90deg, var(--brand), var(--brand-accent));
    --brand-accent-gradient:linear-gradient(90deg, var(--brand-accent), var(--brand-accent-dark));
    --brand:rgba(4, 29, 141, 0.86);
    --brand-accent:#1f70fd;
    --brand-accent-dark:#fc8600;
    --brand-light:#fff;
    --brand-dark-gray:rgb(208, 208, 208);
    --site-padding:6.25rem;
    --heading-font:'Poppins', sans-serif;
    --body-font:'Poppins', sans-serif;
    --body-font-size:1.125rem;

}

/* reset styles */
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Inter', sans-serif;

}